@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --bg : antiquewhite;
    --font: 'Roboto', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    font-family: var(--font);
    font-size: 1.5rem;
}

